name: "Trigger Integration tests"
on:
  # push:
  #   branches:
  #     - master
  #     - 'releases/*'
  pull_request:
    branches:
      - master
      - 'releases/*'
jobs: 
    trigger-integration-tests:
      name: Trigger Integration tests
      runs-on: ubuntu-latest
      steps:
        - name: Check out repository
          uses: actions/checkout@v2
          with:
              path: IntegrationTests
            
        - name: Trigger Test run
          run: |
            bash ./IntegrationTests/.github/workflows/TriggerIntegrationTests.sh ${{ secrets.L2_REPO_TOKEN }} ${{ github.event.pull_request.head.sha }} ${{ github.repository }} ${{ github.event.pull_request.number }} ${{ github.event.pull_request.head.ref }} ${{ github.event.pull_request.base.ref }}
