name: 'Run unit tests.'
on: # rebuild any PRs and main branch changes
   pull_request:
      branches:
         - main
         - 'releases/*'
   push:
      branches:
         - main
         - 'releases/*'

jobs:
   build: # make sure build/ci works properly
      name: Run Unit Tests
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
         - run: |
              npm install
              npm test
